{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}Password Reset{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-3">
          
          <h2 class="card-header">Password Reset</h2>
          <div class="card-body">
            {% if validlink %}
            <p>Please enter your new password twice</p>
            <form method="POST">
              {{ form.as_p }}
              {% csrf_token %}
              <p><input type="submit" value="Change my password" /></p>
              </form>
            {% else %}
              <p>Reset link was invalid (link might have been used). Please request a new password reset.</p>
            {% endif %}
          </div>
        
        </div>
      </div>
    </div>
  </div>
{% endblock %}