{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}Change Password{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-3">
          
          <h2 class="card-header">Change Password</h2>
          <div class="card-body">

            <div>
              <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Change Password"></p>
              </form>
            </div>

          </div>
        
        </div>
      </div>
    </div>
  </div>
{% endblock %}