<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container-fluid">

    <a class="navbar-brand" href="{% url 'KataDB:homepage' %}">Karate Kata DB</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'KataDB:homepage' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'KataDB:kata-table' %}">Kata List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'KataDB:tech-table' %}">Techniques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'KataDB:stance-table' %}">Stances</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'KataDB:kata-moveset-table' %}">Movesets</a>
        </li>
      </ul>
      
      <ul class="navbar-nav ms-auto">
        {% if request.user.is_authenticated %}
          <li>
            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li>
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}
      </ul>

    </div>

  </div>
</nav>